## Practice

1. Write SQL queries for table creation for data model that you crated for prev homework (AirBnb model)
2. Write 3 rows (using INSERT queries) for each table in the data model
2. Create next analytic queries:
    1. Find a user who had biggest amount of reservation. Return user name and user_id
    2. (Optional) Find a host who earned biggest amount of money for the last month. Return host name and host_id
    3. (Optional) Find a host with best average rating. Return host name and host_id


Create table
```sql

CREATE TABLE users(
    id serial PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    gender VARCHAR(50) NOT NULL,
    phone_number VARCHAR(50) NOT NULL,
    email_adress VARCHAR(50) NOT NULL
);

CREATE TABLE hosts(
    id serial PRIMARY KEY,
	user_id INTEGER REFERENCES users(id)      
);

CREATE TABLE guests(
    id serial PRIMARY KEY,
	user_id INTEGER REFERENCES users(id)
);

CREATE TABLE rooms(
    id serial PRIMARY KEY,
	host_id INTEGER REFERENCES hosts(id),
    amount_of_residents INT NOT NULL,
    price INT NOT NULL,
    fridge BOOLEAN NOT NULL,
    quantity_of_beds INT NOT NULL,
    current_adress VARCHAR(50) NOT NULL
);

CREATE TABLE reservation(
    id serial PRIMARY KEY,
    guest_id INTEGER REFERENCES guests(id),
	room_id INTEGER REFERENCES rooms(id),
    confirmation_status BOOLEAN NOT NULL,
    duration VARCHAR(50) NOT NULL,
    editional_information VARCHAR(50),
    total_price INT NOT NULL
);

CREATE TABLE booking(
    id serial PRIMARY KEY,
	reservation_id INTEGER REFERENCES reservation(id),
    booking_from VARCHAR(50) NOT NULL,
    booking_to VARCHAR(50) NOT NULL	
);

CREATE TABLE reviews(
    id serial PRIMARY KEY,
	guest_id INTEGER REFERENCES guests(id),
	host_id INTEGER REFERENCES hosts(id),
    rating INT NOT NULL,
    review_message VARCHAR(50)
);

CREATE TABLE payments(
    id serial PRIMARY KEY,
    reservation_id INTEGER REFERENCES reservation(id),
    payment_status BOOLEAN NOT NULL,
    payment_method VARCHAR(50) NOT NULL
	
);

```

```sql

INSERT INTO users(name, gender,phone_number, email_adress) VALUES ('Bari', 'Female', '0503865331', 'bari@icloud.com'), ('Boby', 'Male', '+380501115433', 'boby@icloud.com'), ('Ivan', 'Male', '+380502268834', 'ivan34@icloud.com'), ('Bobi', 'Female', '+380503865331', 'boby@icloud.com');

INSERT INTO guests(user_id) VALUES (1), (2), (3);

INSERT INTO hosts(user_id) VALUES (3), (4), (2);

INSERT INTO rooms(host_id, amount_of_residents,price,fridge,quantity_of_beds, current_adress) VALUES (2, 3, 500, True, 2, 'Gogolivska 1'), (3, 1, 250, True, 1, 'Livska 4'), (3, 1, 100, False, 1, 'Prospect Peremogy 40'), (1, 5, 1200, False, 4, 'Mini Gorin 89')

INSERT INTO reservation(guest_id, room_id,confirmation_status,duration, editional_information, total_price) VALUES (1, 1, True, '27/10 - 30/10', 'Will take with me a dog', 500), (2, 3, True, '12/05 - 20/06', 'Need one more additional bed', 1200), (3, 4, True, '02/09 - 10/09', 'Would like to have a breakfast in my room', 100), (1, 4, True, '12/01 - 30/01', 'Some info', 100), (1, 3, True, '12/03 - 16/03', 'Need a pillow', 1200), (3, 2, True, '02/01 - 09/01', 'Need a chair', 100)

INSERT INTO booking(reservation_id,booking_from, booking_to) VALUES (1, '27/10','30/10'), (2, '12/05','20/06'), (3, '02/09','10/09')

INSERT INTO payments(reservation_id,payment_status,payment_method) VALUES (1, True,'Credit card'), (2, False,'Apple Pay'), (3, True,'Apple Pay')

INSERT INTO reviews(guest_id, host_id, rating, review_message) VALUES (1, 2, 5,'Good Accomodation'), (2, 1, 1,'Bad cleanning'), (3, 3, 3,'Good owner, but room is far from bus station'), (1, 2, 4,'Perfect!'), (2, 2, 4,'Great'), (3, 3, 2,'Good'), (3, 1, 1,'Bad')

```

```sql
-- 1. Find a user who had biggest amount of reservation. Return user name and user_id
SELECT guests.id as user_id, users.name as user_name, max(reservation.total_price) as biggest_reservation_amount FROM users 
INNER JOIN guests ON users.id = guests.user_id 
INNER JOIN reservation ON guests.id = reservation.guest_id 
GROUP BY users.name, guests.id, reservation.total_price
ORDER BY total_price DESC  LIMIT(1);

-- (Optional) Find a host who earned biggest amount of money for the last month. Return host name and host_id
SELECT hosts.id as host_id, users.name as user_name, reservation.room_id, reservation.total_price, sum(total_price) as earned_amount FROM reservation 
INNER JOIN rooms ON reservation.room_id = rooms.id 
INNER JOIN hosts ON rooms.host_id = hosts.id 
INNER JOIN users ON users.id = hosts.user_id 
GROUP BY users.name, hosts.id, reservation.room_id, reservation.total_price 
ORDER BY reservation.total_price 
DESC LIMIT(1);

--(Optional) Find a host with best average rating. Return host name and host_id
SELECT users.name as host_name, hosts.id as host_id, avg(reviews.rating) FROM users 
INNER JOIN hosts ON hosts.user_id = users.id 
INNER JOIN reviews ON hosts.id = reviews.host_id 
GROUP BY users.name, hosts.id 
ORDER BY avg(reviews.rating) 
DESC LIMIT(1);

```